<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597345318726-qm6fs68apn8iaqghi6vo3r258rj6lpc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597345318726-qm6fs68apn8iaqghi6vo3r258rj6lpc3</string>
	<key>API_KEY</key>
	<string>AIzaSyD_HA8jhqiFQdcbNjIzuQkaZ07nSKlz0H8</string>
	<key>GCM_SENDER_ID</key>
	<string>597345318726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.viicsoftInventoryApp</string>
	<key>PROJECT_ID</key>
	<string>inventory-application-57275</string>
	<key>STORAGE_BUCKET</key>
	<string>inventory-application-57275.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597345318726:ios:5c9a8b3cc4e174c359d747</string>
</dict>
</plist>